.brd-buttons-main ul {
	position: absolute;
	right: 0;
	margin: 0 15px 0 0;
	padding: 0;
}

.brd-buttons-main a {
	right: 20px;
	margin-left: 10px;
	margin-top: 8px;
	text-decoration: none;
	cursor: pointer;
	color: #000;
	font-size: 50px;
	padding: 5px 15px 5px 15px;
}

.brd-link-expense {
	margin-right: 20px;
}

.brd-link-income {
	margin-left: 20px;
}

.brd-buttons-main li {
	display: inline;
}