.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, 
.fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #626262;
}

.fc-toolbar .fc-left {
	position: relative;
	top: 6px;
}

.brd-shell-main-cal {
	width: 100%;
}

/*Allow pointer-events through*/
.fc-slats, /*horizontals*/
.fc-content-skeleton, /*day numbers*/
.fc-bgevent-skeleton, /*events container*/
.fc-content, .fc-event-container,
.fc-event-container a, .fc-event-container div,
.fc-content-skeleton tbody .fc-event-container {
    pointer-events:none
}

.fc-bgevent,
.fc-event-container{
    pointer-events:auto; 
}

.fc-day:hover {
	background-color: #C8C5C5;
	opacity: .5;
	cursor: pointer;
}

.fc-day-hover {
	background-color: #C8C5C5;
	opacity: .5;
}

.fc-event {

}

.fc-toolbar {
	margin-bottom: 5px;
}

.fc-unthemed .fc-today {
	background: #C8C5C5;
}

.fc-content .fc-time {
	display: none;
}

.fc-day-header, .fc-widget-header {
	color: #FFF;
	background-color: #87A5D1;
}

.fc-other-month {

}

.fc-event-container {

}

.fc-event-container a {
	width: 18% !important;
}

.fc-event-container .fc-content {
	padding: 5px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.fc-event-container .fc-content .fc-title {
	vertical-align: middle;
}


