.brd-pay, .brd-pay-head, .brd-pay-main, .brd-pay-form {
	position: absolute;
}




.pure-form fieldset {
	padding-top: 0;
	padding-bottom: 0;
}

.brd-transaction-form .brd-radio-fieldset label {
	display: inline-block;
	margin-right: 8px;
}

.brd-form fieldset .brd-validation-fail {
	border: 1px red solid;
}

.brd-form fieldset .brd-validation-fail:focus {
	border: 1px red solid;
}

@media (max-height: 600px) {
	.brd-pay {
		bottom: 70px;
	}
}

@media (max-height: 520px) {
	.brd-pay {
		height: 380px;
	}
}

@media (max-height: 475px) {
	.brd-pay {
		z-index: 2;
		bottom: 10px;
	}
}

@media (max-height: 400px) {
	.brd-pay {
		
	}
}

@media (max-width: 300px) {
	.brd-pay {
		width: 250px;
	}
}

@media (max-width: 415px) {
	.brd-pay {
		width: 270px;
	}

	.brd-transaction-button {
		top: 12px;
		left: 165px;
	}
	.brd-salary-button {
		top: 12px;
		left: 165px;
	}
}

@media (max-height: 400px) {
	.brd-pay {
		width: 340px;
		height: 290px;
	}

	.brd-pay-main label {
		display: none;
	}
}